/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2014, 11:08:18 PM
    Author     : garn3_000
*/

.hours {
    padding-top: 15%;
}

.address {
    padding-top: 15%;
}

.logo {
    padding-top: 5%;
}
.fb-share-button {
    transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    -o-transform: scale(1.75);
    -moz-transform: scale(1.75);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    padding-top: -15px;
}

.doctor {
    float: left;
    padding-right: 15px;
    transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    -o-transform: scale(1.75);
    -moz-transform: scale(1.75);
}

@media screen and (min-width: 455px) and (max-width: 510px){
    .info {
        margin-left: 5%;
    }
}
@media screen and (min-width: 511px) and (max-width: 575px){
    .info {
        margin-left: 10%;
    }
}
@media screen and (min-width: 576px) and (max-width: 670px){
    .info {
        margin-left: 15%;
    }
}
@media screen and (min-width: 671px) and (max-width: 730px){
    .info {
        margin-left: 20%;
    }
}
@media screen and (min-width: 731px) and (max-width: 768px){
    .info {
        margin-left: 22%;
    }
}

@media screen and (max-width: 1199px) {
    .clinic-lg {
        margin-top: 20px
    }
}
@media screen and (min-width: 1200px) {
    .clinic-md {
        margin-top: -30px;
    }
}